/* 챗봇 컨테이너 */
.chatbot_container {
  position: absolute;
  width: calc(100% - 20px); /* 화면 너비에서 20px를 뺀 너비로 설정 */
  max-width: 1000px; /* 최대 너비 설정 */
  height: 850px; /* 높이 설정 */
  border-radius: 10px; /* 테두리 모서리를 둥글게 설정 */
  left: 50%; /* 가로 가운데 정렬을 위한 위치 설정 */
  top: 50%; /* 세로 가운데 정렬을 위한 위치 설정 */
  transform: translateX(-50%) translateY(-50%); /* 수평 및 수직 가운데 정렬 */
  background-color: #daf6ee; /* 배경 색상 설정 */
  overflow: hidden; /* 내부 내용이 넘칠 경우 가려짐 설정 */
  border: 10px solid #11c2ad; /* 테두리 스타일 */
}

/* 챗봇 상단 메뉴 */
.chatbot_top_menu {
  background-color: #f2f2f2; /* 배경 색상 설정 */
  width: 100%; /* 가로 너비 100% 설정 */
  padding: 20px 0 15px; /* 내부 여백 설정 */
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1); /* 그림자 효과 설정 */
}

/* 챗봇 버튼 그룹 */
.chatbot_buttons {
  margin: 3px 0 0 20px; /* 외부 여백 설정 */
  position: absolute; /* 절대 위치 설정 */
}

/* 챗봇 버튼 */
.chatbot_buttons .chatbot_button {
  width: 16px; /* 너비 설정 */
  height: 16px; /* 높이 설정 */
  border-radius: 50%; /* 원형 모양 설정 */
  display: inline-block; /* 인라인 블록 요소 설정 */
  margin-right: 10px; /* 오른쪽 여백 설정 */
  position: relative; /* 상대 위치 설정 */
}

/* 챗봇 버튼 스타일 (닫기, 최소화, 최대화) */
.chatbot_buttons .chatbot_button.chatbot_close_button,
.chatbot_buttons .chatbot_button.minimize,
.chatbot_buttons .chatbot_button.maximize {
  background-color: #11c2ad; /* 배경 색상 설정 */
}

/* 챗봇 타이틀 */
.chatbot_title {
  text-align: center; /* 가운데 정렬 설정 */
  color: #bcbdc0; /* 글자 색상 설정 */
  font-size: 20px; /* 글자 크기 설정 */
}

/* 챗봇 메시지 목록 */
.chatbot_messages {
  position: relative; /* 상대 위치 설정 */
  list-style: none; /* 리스트 스타일 제거 */
  padding: 20px 10px 0 10px; /* 내부 여백 설정 */
  margin: 0; /* 마진 제거 */
  height: 600px; /* 높이 설정 */
  overflow: hidden; /* 내용이 넘칠 경우 가려짐 설정 */
}

/* 챗봇 메시지 스타일 */
.chatbot_message {
  clear: both; /* 양쪽 모두를 지우고 다음 줄로 이동 */
  overflow: hidden; /* 내용이 넘칠 경우 가려짐 설정 */
  margin-bottom: 20px; /* 아래 여백 설정 */
  transition: all 0.5s linear; /* 모든 속성에 대한 전환 효과 설정 */
  opacity: 0; /* 투명도 설정 */
}

/* 왼쪽 메시지 스타일 */
.chatbot_message.left .chatbot_avatar {
  background-color: #45aaf2; /* 왼쪽 아바타 배경색 설정 */
  float: left; /* 왼쪽으로 부유 설정 */
}

.chatbot_message.left .chatbot_text_wrapper {
  background-color: #23d1a0; /* 왼쪽 메시지 배경색 설정 */
  margin-left: 20px; /* 왼쪽 여백 설정 */
}

.chatbot_message.left .chatbot_text_wrapper::after,
.chatbot_message.left .chatbot_text_wrapper::before {
  right: 100%; /* 오른쪽 끝에 위치 */
  border-right-color: #ffe6cb; /* 오른쪽 테두리 색상 설정 */
}

.chatbot_message.left .chatbot_text {
  color: #c44343; /* 왼쪽 메시지 글자 색상 설정 */
}

/* 오른쪽 메시지 스타일 */
.chatbot_message.right .chatbot_avatar {
  background-color: #ff69b4; /* 오른쪽 아바타 배경색 설정 */
  float: right; /* 오른쪽으로 부유 설정 */
}

.chatbot_message.right .chatbot_text_wrapper {
  background-color: #c7eafc; /* 오른쪽 메시지 배경색 설정 */
  margin-right: 20px; /* 오른쪽 여백 설정 */
}

.chatbot_message.right .chatbot_text_wrapper::after,
.chatbot_message.right .chatbot_text_wrapper::before {
  left: 100%; /* 왼쪽 끝에 위치 */
  border-left-color: #c7eafc; /* 왼쪽 테두리 색상 설정 */
}

.chatbot_message.right .chatbot_text {
  color: #45829b; /* 오른쪽 메시지 글자 색상 설정 */
}

/* 메시지 나타남 효과 */
.chatbot_message.appeared {
  opacity: 1; /* 투명도 설정 */
}

/* 챗봇 아바타 스타일 */
.chatbot_message .chatbot_avatar {
  width: 60px; /* 너비 설정 */
  height: 60px; /* 높이 설정 */
  border-radius: 50%; /* 원형 모양 설정 */
  display: inline-block; /* 인라인 블록 요소 설정 */
}

/* 챗봇 메시지 텍스트 래퍼 스타일 */
.chatbot_message .chatbot_text_wrapper {
  display: inline-block; /* 인라인 블록 요소 설정 */
  padding: 20px; /* 내부 여백 설정 */
  border-radius: 6px; /* 테두리 모서리 둥글게 설정 */
  width: calc(100% - 200px); /* 최대 너비 설정 */
  min-width: 100px; /* 최소 너비 설정 */
  position: width 0.7s linear; /* 너비 변화에 대한 전환 설정 */
}

/* 메시지 텍스트 래퍼 가상요소 설정 */
.chatbot_message .chatbot_text_wrapper::after,
.chatbot_message .chatbot_text_wrapper::before {
  top: 18px; /* 상단 위치 설정 */
  border: solid transparent; /* 투명한 테두리 설정 */
  content: " "; /* 내용 없음 */
  height: 0; /* 높이 0으로 설정 */
  width: 0; /* 너비 0으로 설정 */
  position: absolute; /* 절대 위치 설정 */
  pointer-events: none; /* 이벤트 무시 설정 */
}

.chatbot_message .chatbot_text_wrapper::after {
  border-width: 13px; /* 가상요소의 테두리 두께 설정 */
  margin-top: 0px; /* 위 여백 설정 */
}

.chatbot_message .chatbot_text_wrapper::before {
  border-width: 15px; /* 가상요소의 테두리 두께 설정 */
  margin-top: -2px; /* 위 여백 설정 */
}

/* 챗봇 메시지 텍스트 스타일 */
.chatbot_message .chatbot_text_wrapper .chatbot_text {
  font-size: 18px; /* 글자 크기 설정 */
  font-weight: 300; /* 글꼴 두께 설정 */
}

/* 챗봇 하단 영역 스타일 */
.chatbot_bottom_wrapper {
  display: flex; /* 플렉스 레이아웃 설정 */
  justify-content: space-between; /* 가로 공간 동일하게 배치 */
  align-items: center; /* 세로 중앙 정렬 설정 */
  width: 98%; /* 너비 설정 */
  background-color: #f2f2f2; /* 배경 색상 설정 */
  padding: 20px 10px; /* 내부 여백 설정 */
  position: absolute; /* 절대 위치 설정 */
  bottom: 0; /* 아래에 위치 설정 */
}

/* 메시지 입력란 래퍼 스타일 */
.chatbot_message_input_wrapper {
  flex-grow: 0; /* 플렉스 요소의 확장 여부 설정 */
  width: 100%; /* 너비 설정 */
  margin-right: 10px; /* 오른쪽 여백 설정 */
}

/* 메시지 입력란 스타일 */
.chatbot_message_input {
  border: none; /* 테두리 제거 */
  height: 100%; /* 높이 100% 설정 */
  box-sizing: border-box; /* 상자 모델로 설정 */
  width: 100%; /* 너비 100% 설정 */
  outline-width: 0; /* 포커스 테두리 제거 */
  color: #11c2ad; /* 글자 색상 설정 */
  padding: 20px; /* 내부 여백 설정 */
  font-size: 16px; /* 글자 크기 설정 */
}

/* 메시지 보내기 버튼 스타일 */
.chatbot_send_message {
  width: 120px; /* 너비 설정 */
  height: 50px; /* 높이 설정 */
  display: inline-block; /* 인라인 블록 요소 설정 */
  border-radius: 50px; /* 원형 모양 설정 */
  background-color:  #11c2ad; /* 배경 색상 설정 */
  border: 2px solid  #11c2ad; /* 테두리 설정 */
  color: #fff; /* 글자 색상 설정 */
  cursor: pointer; /* 커서 포인터로 설정 */
  transition: all 0.2s linear; /* 모든 속성에 대한 전환 설정 */
  text-align: center; /* 가운데 정렬 설정 */
  flex-shrink: 0; /* 플렉스 요소의 축소 여부 설정 */
  margin-left: 10px; /* 왼쪽 여백 설정 */
}

/* 메시지 보내기 버튼 호버 스타일 */
.chatbot_send_message:hover {
  color: #daf6ee; /* 호버 시 글자 색상 설정 */
  background-color: #fff; /* 호버 시 배경 색상 설정 */
}

/* 메시지 보내기 버튼 텍스트 스타일 */
.chatbot_send_message .chatbot_text {
  font-size: 18px; /* 글자 크기 설정 */
  font-weight: 300; /* 글꼴 두께 설정 */
  display: inline-block; /* 인라인 블록 요소 설정 */
  line-height: 48px; /* 줄 높이 설정 */
}

/* 챗봇 메시지 템플릿 (숨김) */
.chatbot_message_template {
  display: none; /* 숨김 설정 */
}
