.chatbot_container {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 1000px;
  height: 850px;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.chatbot_top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.chatbot_buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}

.chatbot_buttons .chatbot_button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.chatbot_buttons .chatbot_button.chatbot_close_button {
  background-color: #f5886e;
}

.chatbot_buttons .chatbot_button.minimize {
  background-color: #fdbf68;
}

.chatbot_buttons .chatbot_button.maximize {
  background-color: #a3d063;
}

.chatbot_title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.chatbot_messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 600px;
  overflow: hidden;
}

.chatbot_message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.chatbot_message.left .chatbot_avatar {
  background-color: #f5886e;
  float: left;
}

.chatbot_message.left .chatbot_text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}

.chatbot_message.left .chatbot_text_wrapper::after, .chatbot_message.left .chatbot_text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}

.chatbot_message.left .chatbot_text {
  color: #c48843;
}

.chatbot_message.right .chatbot_avatar {
  background-color: #fdbf68;
  float: right;
}

.chatbot_message.right .chatbot_text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}

.chatbot_message.right .chatbot_text_wrapper::after, .chatbot_message.right .chatbot_text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}

.chatbot_message.right .chatbot_text {
  color: #45829b;
}

.chatbot_message.appeared {
  opacity: 1;
}

.chatbot_message .chatbot_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

.chatbot_message .chatbot_text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 200px);
  min-width: 100px;
  position: width 0.7s linear;
}

.chatbot_message .chatbot_text_wrapper::after, .chatbot_message .chatbot_text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.chatbot_message .chatbot_text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}

.chatbot_message .chatbot_text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}

.chatbot_message .chatbot_text_wrapper .chatbot_text {
  font-size: 18px;
  font-weight: 300;
}

.chatbot_bottom_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  background-color: #fff;
  padding: 20px 10px; 
  position: absolute;
  bottom: 0;
}

.chatbot_message_input_wrapper {
  flex-grow: 0; 
  width: 70%;
  margin-right: 10px;
}

.chatbot_message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  outline-width: 0;
  color: gray;
}

.chatbot_send_message {
  width: 120px; 
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  flex-shrink: 0;
  margin-left: 10px;
}

.chatbot_send_message:hover {
  color: #a3d063;
  background-color: #fff;
}

.chatbot_send_message .chatbot_text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.chatbot_message_template {
  display: none;
}
