.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 두 컬럼으로 구성 */
  gap: 30px; /* 간격 조절 */
}

.entireGraphForm {
  padding: 10px;
}

.dashBoardBottomSection {
  display: flex;
  flex-direction: column; /* 세로로 나열 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 30px;
}

.dashBoardGraphBar {
  width: 100%; /* 부모의 100%를 차지하도록 설정 */
}

.dashBoardGraphDoughnut {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.dou {
  padding: 50px;
}

.mypageForm .dashBoardTop {
  justify-content: space-between;
}

.graphFormLine {
  width: 500px;
  height: 300px;
  padding-left: 20px;
}

.graphForm2,
.graphForm3 {
  display: block;
  width: 600px; /* 원하는 크기로 조절 */
  height: 400px; /* 원하는 크기로 조절 */
  display: flex;
  justify-content: center;
}
