/* 기본 css*/

.pannel,
li {
  cursor: pointer;
}

.Form {
  background: #ffffff;
  width: 1000px;
  min-height: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.mypageForm {
  background: #ffffff;
  width: 1200px;
  min-height: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.shortForm {
  background-color: #ffffff;
  width: 500px;
  height: 700px;
  border-radius: 15px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 350px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #cecece;
  border-radius: 10px;
  text-align: center;
}
::placeholder {
  color: #cecece;
}

input[type='checkbox'] {
  width: 20px;
  margin: 0px;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: #11c2ad;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

select {
  width: 150px;
  padding: 0.8em 0.5em;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
    no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #acacac;
  border: 1px solid #cecece;
  border-radius: 10px;
  cursor: pointer;
}

select::-ms-expand {
  /* for IE 11 */
  display: none;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 헤더 스타일 */
.headerContainer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff; /* 헤더의 배경색을 원하는 색상으로 지정 */
  z-index: 1000; /* 다른 요소 위에 헤더를 배치하기 위해 z-index 사용 */
  display: flex;
  flex-direction: column; /* 위아래로 배치하도록 설정 */
  border-bottom: 1px solid #acacac;
}

/* 로고 헤더 */
.topHeader {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between; /* 양쪽 끝으로 배치 */
  align-items: center;
  border-bottom: 1px solid #acacac;
}

.logoContainer img {
  width: 250px;
  height: 100px;
  margin-left: 5%;
  cursor: pointer;
}

.topHeader ul {
  list-style: none; /* 리스트의 기본 스타일 제거 */
  padding: 0; /* 리스트의 패딩 제거 */
  margin: 0; /* 리스트의 마진 제거 */
  display: flex; /* 리스트를 가로로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.topHeader li {
  display: flex;
  align-items: center;
  margin-left: 50px; /* 각 리스트 아이템 사이의 간격 조절 */
}
.topHeader .loginLi {
  margin-right: 50px;
}

.topHeader .mypageLi {
  margin-left: 0px;
  margin-right: 0px;
}

.topHeader p {
  margin-right: 0px;
}

.topHeader li img {
  width: 20%;
  margin-right: 10px; /* 이미지와 텍스트 사이의 간격 조절 */
}

.topHeader span {
  color: #acacac;
  font-size: 15px;
}

.topHeader p {
  margin-right: 40px;
}

.ul-Wrapper {
  margin-right: 50px;
}

/* 로고 이미지와 ul을 양쪽 끝으로 이동시키기 위한 마진 설정 */
.logoContainer {
  margin-left: 5%;
}

/* 탭메뉴 */
.tabPane {
  height: 40px;
}

.tabContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.tabUi {
  list-style: none;
  margin-left: 100px;
  display: flex; /* ul을 가로로 정렬하기 위해 추가 */
}

.tabLi {
  position: relative;
  display: flex;
  width: 150px;
  margin-right: 100px;
}
.tabLi:first-child {
  margin-left: 50px;
}

.subtabUi {
  list-style: none;
  display: none;
  position: absolute;
  width: 120px;
  margin-top: 8px;
  padding: 10px;
  top: 100%;
  right: 20%;
  background-color: #ffffff;
  box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 10px 10px;
}

.subtabLi {
  padding: 10px;
  cursor: pointer;
}

.tabLi.clicked .subtabUi {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*//////////////////////////////////////////////////////////////////////////////////////*/

/* 배경 위치 설정 */

.mainContainer {
  position: relative;
  background-color: #daf6ee;
  color: #000000;
  text-align: center;
  align-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* 메인화면 css*/
#menu {
  border-spacing: 50px 20px;
  border-collapse: separate;
}

#panel {
  border: 1px solid #cecece;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  width: 600px;
  height: 130px;
  font-size: 25px;
  text-align: left;
  border: none;
  border-radius: 20px;
  padding-left: 2%;
  padding-bottom: 5%;
  box-shadow: 8px 5px 7px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#menu tr:first-child td:first-child {
  background-color: #11c2ad;
  color: #ffffff;
}

#menu tr:first-child td:nth-child(2) {
  cursor: default;
}

/*//////////////////////////////////////////////////////////////////////////////////////*/

/* 푸터 */
.footerContainer {
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  width: 1250px;
  max-width: 1250px;
  text-align: left;
}

.textContainer span {
  color: #cecece;
}

/* span > Input > label 순서로*/
/* 
span {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
}

Input {
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px;

  + label {
    position: absolute;
    margin-top: 5px;
    margin-left: 0px;
    height: 24px;
    width: 50px;

    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background: #daf6ee;
    color: #11c2ad;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
} */

.clinicBtn-mid {
  width: 200px;
  height: 80px;
  border-radius: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: 25px;
}
.clinicBtn-long {
  width: 650px;
  height: 80px;
  border-radius: 15px;
  font-size: 20px;
}

.clinicSubBtn-mid {
  background-color: #aeccc8;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.clinicSubBtn-short {
  width: 100px;
  height: 45px;

  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.listBtn-short {
  width: 80px;
  height: 45px;
  margin-left: 2px;
  margin-right: 2px;
}

.listBtn-mid {
  width: 160px;
  height: 45px;
  margin: 2px;
}

/* CRUD  목록 */
/* className 수정 하지말고 id로 stlye 추가 및 변경 해주세요*/

.searchDateWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
}

.searchDateText {
  display: flex;
  align-items: baseline;
  margin-left: 5px;
  margin-bottom: -20px;
}

.searchDateText span {
  font-size: 15px;
  font-weight: normal;
  color: #cecece;
}

.searchDateForm {
  display: flex;
  align-items: center;
}

.searchDateForm input[type='text'] {
  width: 250px;
  height: 35px;
}

.searchDateForm button {
  height: 40px;
}

.searchBarWrapper {
  display: flex;
  align-items: center;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.listTitle {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  width: 1150px;
}

.listTitle img {
  margin-right: 35%;
  height: 50px;
}

.listForm {
  margin-bottom: 5%;
}

.listTable {
  margin-top: 3%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 1100px;
  background-color: white;
  border: 1px solid #cecece;
  border-radius: 15px;
}

.listTable thead {
  border-bottom: 1px solid #ddd;
}

.listTable th,
.listTable td {
  border-left: none;
  border-right: none;
}

.listTable th {
  padding: 10px;
  text-align: left;
  text-align: center;
  color: #000;
  height: 50px;
}

.listTable td {
  padding: 10px;
  text-align: left;
  text-align: center;
  border-right: none;
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.listTable tbody tr:hover {
  background-color: #ebebeb;
  opacity: 0.9;
}

.listTable th:nth-child(1),
td:nth-child(1) {
  width: 220px;
}

.listTable th:nth-child(2),
td:nth-child(2) {
  width: 220px;
}

.listTable th:nth-child(3),
td:nth-child(3) {
  width: 220px;
}

.listTable th:nth-child(4),
td:nth-child(4) {
  width: 220px;
}
.listTable th:nth-child(5),
td:nth-child(5) {
  vertical-align: middle;
  width: 220px;
}

.listTable tfoot {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
}

.listTable .tfootSearchWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20%;
  top: 100px;
}

.listTable .tfootSearchWrapper #addBtn {
  position: relative;
  right: 25%;
}

/* .listTable tfoot .listBtn {
  position: relative;
  right: 155px;
  top: 20px;
  height: 45px;
} */

#writeBtn {
  position: relative;
  top: 165px;
  left: 45px;
}

#deleteBtn {
  position: relative;
}

/* 대시보드  */
.dashBoardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashBoardTop {
  display: flex;
  align-items: center;
  padding: 2%;
  width: 1100px;
}

.dashBoardStatusTable {
  border-collapse: separate;
  border-spacing: 20px 20px;
  width: 600px;
}

.dashBoardStatusTable td {
  border-radius: 15px;
  color: #ffffff;
  background-color: #11c2ad;
  height: 90px;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.dashBoardStatusSubTable {
  background-color: #daf6ee;
  border-radius: 15px;
  padding: 1%;
  margin-left: 3%;
  width: 450px;
  height: 200px;
  border-collapse: separate;
}

.dashBoardStatusSubTable th {
  font-size: 20px;
  font-weight: bold;
}

.dashBoardStatusSubTable th:nth-child(3) {
  vertical-align: bottom;
  color: #acacac;
  font-size: 15px;
}

.dashBoardStatusSubTable td {
  color: #acacac;
  height: 10px;
}

.dashBoardBottom {
}

.dashBoardGraph {
}
